
/* CSS do formulario */
.card-form{
    margin-top: 35px;
    width: 100%;
    padding: 10px;
    width: 50%;
    

}
/* /* CSS do input */ 
.card-form_input{
    width: 100%;
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
    background-color: #273141;;
    color: white;
    border: none;

}
/* CSS do textarea */
.card-form_textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #273141;
    color: white;
    border: none;
}
/* CSS do button enviar */
.button_enviar{
    margin-top: 20px;
    cursor: pointer;
    color: #2C3D55;
    width: 100%;
    height: 40px;
}
/* CSS button com hover */
.button_enviar:hover{
    border: 2px solid #0d68e6;
    border-radius: 5px;
}

/* Responsividade do site com o css */
@media screen and (max-width: 950px) {
    .card-form{
      width: 100%;
    }
  }