
/* CSS do formulario */
.card-form{
    display: grid;
    margin-top: 35px;
    justify-content: center;
    padding: 10px;
    justify-items: center;
    

}
/* /* CSS do input */ */
.card-form_input{
    width: 50vw;
    border-radius: 5px;
    height: 35px;
    background-color: #273141;;
    color: white;
    border: none;

}
/* CSS do textarea */
.card-form_textarea{
    margin-top: 10px;
    width: 50vw;
    border-radius: 5px;
    height: 85px;
    background-color: #273141;
    color: white;
    border: none;
}
/* CSS do button enviar */
.button_enviar{
    margin-top: 10px;
    cursor: pointer;
    color: #2C3D55;
    width: 50%;
    height: 40px;
}
/* CSS button com hover */
.button_enviar:hover{
    border: 2px solid #0d68e6;
    border-radius: 5px;
}